// Insert your variables
$orange         : #BD3613;
$blue           : #CCFFFF;
$red            : #FF0000;
$white          : #FFFFFF;
$black          : #000000;
$yellow         : #e9f720;

$font-main: cursive;
$fantasy: fantasy;
$geo: Georgia;
$verdana: Verdana;
$tahoma: Tahoma;